<div class="header">
    <span>{{ userName }}</span>
</div>
<div class="title">
    <h1>Todo App</h1>
</div>
<div class="container">
    <h2>Edit page</h2>
    <div id="update-todo">
        <form autocomplete="off" action="/home/{{ todos.id }}/edit?_method=PUT" method="post">
            <input type="input" value="{{ todos.title }}" name="title" />
            <textarea name="description">{{ todos.description }}</textarea>
            <button class="btn" type="submit" name="submit">Update</button>
        </form>
    </div>
</div>