<div class="title">
    <h1>Todo App</h1>
</div>
<div class='container'>
    <h2>Register</h2>
    <form autocomplete="off" action="/regist" method="post">
        <div id='name'>
            <input type="text" name='userName' placeholder="Enter your Name" required="required">
            {{#if errors.nameError }}
            <h3>{{ errors.nameError }}</h3>
            {{/if}}
        </div>
        <div id='user-name'>
            <input type="text" name='userUserName' placeholder="Enter your Username" required="required">
            {{#if errors.userError }}
            <h3>{{ errors.userError }}</h3>
            {{/if}}
        </div>
        <div id='email'>
            <input type="email" name="userEmail" placeholder="Enter your Email" required="required">
        </div>
        <div id='password'>
            <input type="password" name="userPassword" placeholder="Enter your Password" required="required">
            {{#if errors.passwordLength }}
            <h3>{{ errors.passwordLength }}</h3>
            {{/if}}
        </div>
        <div id='confirm-password'>
            <input type="password" name="userConfirmPassword" placeholder="Confirm your Password" required="required">
            {{#if errors.passwordError }}
            <h3>{{ errors.passwordError }}</h3>
            {{/if}}
        </div>
        <button class="btn" type="submit">Regist</button>
    </form>
</div>